:root { 
--light_blue_A100:#68e1fd; 
--white_A700_99:#ffffff99; 
--gray_800_90:#42424290; 
--light_blue_A700:#0099f5; 
--blue_gray_900_02:#171c44; 
--gray_200_01:#e5e8ea; 
--white_A700_19:#ffffff19; 
--blue_gray_900_01:#13183f; 
--pink_500:#ff1778; 
--blue_gray_900:#24285b; 
--deep_orange_100:#ffbeb3; 
--gray_400:#c9c9c9; 
--blue_gray_100:#d1d3d4; 
--amber_500:#f9bb0d; 
--lime_900:#9c5631; 
--amber_300:#ffd44d; 
--gray_200:#eaeaea; 
--yellow_A700:#ffd200; 
--blue_50:#ecf5ff; 
--indigo_A700:#2945ff; 
--gray_400_01:#c3c7c9; 
--gray_100_01:#f2f2f2; 
--white_A700:#ffffff; 
--light_blue_A700_01:#0092fc; 
--blue_gray_50:#f1f1f1; 
--blue_gray_100_01:#d4dadc; 
--white_A700_5f:#ffffff5f; 
--blue_gray_100_02:#d6d6d6; 
--yellow_A700_01:#ffd711; 
--white_A700_cc:#ffffffcc; 
--black_900:#000000; 
--deep_orange_200:#f4a28c; 
--pink_400:#f0457d; 
--purple_50:#f4ecff; 
--blue_gray_200:#b0b9be; 
--gray_500:#a4a4a4; 
--amber_400:#f7c41b; 
--blue_gray_600:#5a6771; 
--gray_900:#121217; 
--gray_900_01:#231f20; 
--blue_gray_900_03:#242c31; 
--gray_300_03:#dde1e3; 
--gray_300:#e6e6e6; 
--gray_300_02:#e1e1e1; 
--gray_300_01:#e2e2e2; 
--gray_100:#eef9ff; 
--black_900_33:#00000033; 
--black_900_cc:#000000cc; 
--indigo_A400:#3563e9; 
--indigo_900:#27215e; 
}